---
# Front matter comment to ensure Jekyll properly reads file.
---

/*
  Site variables
*/

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,400i,700,700i|Nunito&display=swap');

$base-font-family: 'Roboto', sans-serif;

$body-font-family: 'Cormorant Garamond', serif;

$code-font-family: "Source Code Pro", monospace;

$brand-color: black;

$container-width: 1100px;

$tablet-width: 600px;

$phone-width: 480px;

$header-thickness: 56px;

@import "_sass/-sections-dir";
